<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<string>Money is POWER.</string>
			<string>Güç</string>
		</array>
		<array>
			<string>People often simply ABANDON their pets when they go abroad. </string>
			<string>Terk etmek</string>
		</array>
		<array>
			<string>She worked ABROAD for a year. </string>
			<string>Yurt dışı</string>
		</array>
		<array>
			<string>Beauty cannot be MEASURED by any absolute standard. </string>
			<string>Ölçmek</string>
		</array>
		<array>
			<string>She’s decided not to ACCEPT the job. </string>
			<string>Kabul etmek</string>
		</array>
		<array>
			<string>There is easy ACCESS by road.</string>
			<string>Erişmek, Ulaşmak</string>
		</array>
		<array>
			<string>Hotel ACCOMMODATION is included in the price of your holiday. </string>
			<string>Konaklama</string>
		</array>
		<array>
			<string>His wife ACCOMPANIED him on the trip. </string>
			<string>Eşlik etmek</string>
		</array>
		<array>
			<string>The article ACCURATELY reflects public opinion. </string>
			<string>Doğru bir şekilde</string>
		</array>
		<array>
			<string>He had finally ACHIEVED success. </string>
			<string>Başarmak</string>
		</array>
		<array>
			<string>They were proud of their children’s ACHIEVEMENTS. </string>
			<string>Başarı</string>
		</array>
		<array>
			<string>The ACTUAL cost was higher than we expected. </string>
			<string>Gerçek</string>
		</array>
		<array>
			<string>We publishing an AD in the local newspaper. </string>
			<string>Reklam</string>
		</array>
		<array>
			<string>The room was small but ADEQUATE. </string>
			<string>Yeterli</string>
		</array>
		<array>
			<string>This button is for ADJUSTING the volume.</string>
			<string>Ayarlamak</string>
		</array>
		<array>
			<string>I really ADMIRE your enthusiasm. </string>
			<string>Hayran olmak</string>
		</array>
		<array>
			<string>Don’t be afraid to ADMIT to your mistakes. </string>
			<string>İtiraf etmek</string>
		</array>
		<array>
			<string>When you’re a child, life is one big ADVENTURE.</string>
			<string>Macera</string>
		</array>
		<array>
			<string>Follow your doctor’s ADVICE. </string>
			<string>Tavsiye</string>
		</array>
		<array>
			<string>How will these changes AFFECT us? /</string>
			<string>Etkilemek</string>
		</array>
		<array>
			<string>International peace AGREEMENT </string>
			<string>Anlaşma</string>
		</array>
		<array>
			<string>This feature is designed to AID inexperienced users. </string>
			<string>Yardım</string>
		</array>
		<array>
			<string>We AIM to be there around six. </string>
			<string>Amaç</string>
		</array>
		<array>
			<string>The teacher listened to the children reading ALOUD. </string>
			<string>Yüksek sesle</string>
		</array>
		<array>
			<string>Prices did not ALTER significantly during 2007.</string>
			<string>Değişmek</string>
		</array>
		<array>
			<string>She was intelligent but suffered from a lack of AMBITION. </string>
			<string>Hırs</string>
		</array>
		<array>
			<string>A house AMONG the trees </string>
			<string>Arasında</string>
		</array>
		<array>
			<string>The photo was taken from an unusual ANGLE. </string>
			<string>Açı, 2. Melek</string>
		</array>
		<array>
			<string>He was died on the ANNIVERSARY of his wife’s death. </string>
			<string>Yıl dönümü</string>
		</array>
		<array>
			<string>I’m sure she does it just to ANNOY me. </string>
			<string>Kızdırmak, rahatsız etmek</string>
		</array>
	</array>
</plist>